*{
    margin:0;
    padding:0;
    font-family: 'Kanit', sans-serif;
}
.header1{
    background-color: #151B54;
    width:100% ;
    height:60px;
}
.header{
   margin-left: 200px;
   margin-right: 200px;
   max-width:900px;
}
img{
    height:40px;
    
}
.logo{
    max-width: 100px;
    float:left;
    padding:10px 10px 10px 10px;
    
}

form#search-box{
    display:inline-block;
    line-height:52px;
    padding-left: 150px;
}
.search{
    border:1px solid;
    border-radius: 5px;
    padding:5px;
}
.submit{
    border-radius: 5px;
    background-color: #F70D1A;
    color:white;
    padding:5px;
}
.fa{
    color:white;
    display: inline-block;
    padding:20px;
    float:right;
}



/* ----------second nav------------------------------ */

.navbar {
    max-width: 900px;
    overflow: hidden;
    background-color: white;
    margin-top:2px;
    margin-left:200px;
    margin-right:200px;
    
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 12px 30px;
    text-decoration: none;
    justify-content:space-between;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #6960EC;
    max-height: 50px;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #6960EC;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  a.box{border:1px solid ;
    background-color:grey;
    color:white;
   
    }
  a.box1{
  background-color:#F70D1A;
  color:white;
 
  }
  .box1{
      margin-left: 15px;
  }
  .dropbtn i{
      color:black;
  }


/*---------------------------- banner-------------------------------------- */
.banner{
    margin-left:200px;
    margin-right:200px;
    
    display:inline-block;
    width:900px;
}

.banner img{
    height:400px;
    width:300px;
}
.image{
    display: inline-block;
}
.text-box{
    display: inline-block;
    margin-top:100px;
    float:right;
    text-align:center;
    padding-left: 10px;
}

.text-box p{
    padding-top:5px;
    line-height: 20px;;
}
.text-box h1{
    padding-top:8px;
}
.hero-btn{
    
    display:inline-block;
    text-decoration: none;
    padding:12px 50px;
    margin:20px;
    color:#fff;
    background:#f44336;
    position:relative;
    cursor: pointer;
}
.hero-btn:hover{
    
    background:#6960EC;
    transition: 0.5s;
}

/* -------------product/-------------- */
.product{
    max-width:900px;
    margin-left:200px;
    margin-right:200px;
    padding-top:20px;
    padding-bottom: 250px;;
    justify-content: space-between;
}
.hero-1{
    background-image: linear-gradient(rgba(221, 22, 15, 0.651),rgba(221, 22, 15, 0.651)),url(images/girlsjacket.jpg);
    background-position: center;
    background-size: cover;
    width:200px;
    height: 110px;
    display:inline-block;
    float:left;
    
    
}
.hero-2{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/bag.jpg);
    background-position: center;
    background-size: cover;
    width:200px;
    height: 110px;
    display:inline-block;
    float:left;
    margin-left:30px;
}
.hero-3{
    background-image: linear-gradient(rgba(221, 22, 15, 0.651),rgba(221, 22, 15, 0.651)),url(images/shoes.jpg);
    background-position: center;
    background-size: cover;
    width:200px;
    height: 110px;
    display:inline-block;
    float:left;
    margin-left:30px;
}
.product .hero-1, .hero-2, .hero-3{
    padding:40px;
    color:white;
    padding-top: 70px;
    
}
.product .hero-1 a{
    color:white;
    text-decoration: none;
    

}
.product .hero-2 a{
    color:white;
    text-decoration: none;
    text-align: center;
}
.product .hero-3 a{
    color:white;
    text-decoration: none;
    
}
.product .hero-1 a:hover{
    color:#FF8C00;
    
    

}
.product .hero-2 a:hover{
    color:#FF8C00;
    

}
.product .hero-3 a:hover{
    color:#FF8C00;
   

}
.product .hero-1 i{
    padding:20px;
}
.product .hero-2 i{
    padding:20px;
    
}
.product .hero-3 i{
    padding:20px;
    
}
.product .fa{
    float:none;
    
}
/* ---------------------------------------tri-links-------------------------------------------- */
.tri-links{
    padding-top:10px;
    margin-left:200px;
    margin-right:200px;
    max-width:900px;
    justify-content: space-between;
    display: flex;
    
    
    
}
.tri-links a{
    text-decoration: none;
    
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 5px;
    padding:6px;
    align-items: center;
    color:#191970;
    float: right;
    display: inline-block;
}
.tri-links .fas{
    padding-right:4px;
}
.tri-links a:hover{
    border:1px solid #191970;

}
/* ------------------------------------------------------weekly deals----------------------------------------- */
.deals{
    max-width: 900px;
    margin-left: 200px;
    margin-right:200px;
    padding-top: 20px;
}
.head-deals{
    color:black;
}
.first-row, .second-row{
    padding-top: 20px;
     display: flex;
    
    
}
.deals .first-col, .second-col, .third-col, .forth-col{
    border: 2px solid rgba(0, 0, 0, .5);
    width:200px;
    height:200px;
    
}

.deals .second-col{
    margin-left: 30px;
}
.deals .third-col{
    margin-left: 30px;
}
.deals .forth-col{
    margin-left: 30px;
}
.circle {
    background: red;
    position: relative;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-left: 120px;
  bottom: 48px;
  right: 1px;
}

.c-p{
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top:10px;
}
.small{
    position: relative;
    bottom: 20px;
}
.line{
    position: relative;
    bottom: 60px;
    font-size: 17px;
    color:#191970;
    right: -10px;
}


.sm-image{
    
    width:200px;
    height:150px;
    
}
/* --------------------------------------------------banner2-------------------------------- */
.banner2{
    margin-left: 200px;
    margin-right:200px;
    margin-top:20px;
    max-width: 900px;
    height:300px; 
    background: #ff7e5f; 
    background: -webkit-linear-gradient(to right, #ff7e5f, #feb47b); 
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    
}
.banner-img{
    width:300px;
    height:100%;
    border-radius: 65%;
    display:inline-block;

}
.my-text{
    display: inline-block;
    position:relative;
    color:white;
    bottom: 125px;
    right: -153px;

}
/* ---------------------------------------------------recents-------------------------------- */
.recents{
    max-width:900px;
    height:700px;
    margin-left:200px;
    margin-right:200px;
    margin-top:20px;
    
}
.container{
    background-color: #e6e6e6;
    display:flex;
    height:690px;
}
.long-col{
    border:2px solid rgba(0, 0, 0, .5);
    width:400px;
}
.lg-image{
    width:400px;
    height: 620px;
}
.lg{
    bottom:-16px;
}

.wide-col{
    padding-left:20px;
}
.last{
    padding-left:20px;
}
.initial-row{
     display: flex;
}
.mid-row{
    margin-top: 39px;
    display:flex;
}
.last-row{
    margin-top: 39px;
    display:flex;

}
 .f-col, .s-col{
    border: 2px solid rgba(0, 0, 0, .5);
    width:200px;
    height:200px;
    margin-top:0px;
    padding-top: 0px;
}
 .f-col{
     margin-left:20px;
 }   

.s-col{
    
    margin-left: 47px;
}




/* -------------------------------------------------subscription--------------------------------- */
.subs{
    margin-top: 60px;
    margin-left:200px;
    margin-right:200px;
    display:flex;
    
    
    
}
form#sub-box{
    display: inline-block;
   
    line-height:50px;
    padding-left:91px;
    

}
.email{
  
    border:1px solid;
    border-radius: 5px;
    padding:10px;
    
    
}
.subscribe{
    
    border-radius: 5px;
    background-color: #F70D1A;
    color:white;
    padding:4px;
    padding-right:7px;
    
}
.subs .text-box{
    display: inline-block;
    float:left;
    
}

/* -------------------------------------------------footer----------------------------- */

.footer{
    background-color:#151B54;
}
.footer1{
    margin-left:200px;
    margin-right:200px;
    margin-top:40px;
    height:100%;
    display: flex;
}
.footer1 .about{
    display: inline-block;
    padding-top:10px;

}
.footer1 .about img{
        padding-top:10px;
        width: 200px;
        height:30px;
}
.footer1 .about p{
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:15px;
    
}
.footer1 .about ul li{
    color:white;
    size: 20px;
}
.footer1 .fab{
    color:white;
    padding: 20px;
}
.footer1 .about .fab:hover{
    color:orange;
    transition: 1s;
}
.links{
    padding-top:10px;
    padding-left:150px;
}
.links a{
    display:list-item;
    color:white;
    text-decoration: none;
    list-style:none;
    padding-bottom: 5px;
    
}

.links a:hover{
    color: orange;
    font-weight: bold;
}

.links h1:hover{
    color: white;
}


.contacts{
    padding:10px;
    padding-left:200px;

}

.contacts h3{
    color:white;
    padding-top: 5px;
}

.f-h, .f-p{
   color:white;
   padding-top: 5px;
}
.f-b{
    padding:5px;
}
.f-b:hover{
    background-color: #ffa60093;}

.foot-nav{
    display:flex;
    margin-left:200px;
    margin-right:200px;
    max-width:900px;
}
.navi{
    padding-left:243px;
    display:flex;
    float:right;
}
.navi a{
    
    color:white;
    text-decoration: none;
    justify-content: space-between;
    padding:5px;
    
}
hr{
    margin-left:200px;
    margin-right:200px;
}













/* --------------------------------------------------media------------------------ */
@media (max-width:700px) {
    .header{
        height:100px;
    }
    .logo{
        max-width: 30px;
        max-height: 20px;
        float:left;
        padding: 15px 5px;
        
    }

    form#search-box{
        padding-left:0px;
        
    }
    
    .search{
        padding:2px;
    }
    .submit{
            padding:2px;
            margin-bottom: 2px;
    }
    .fa{
        color: white;
        padding:10px;
        margin:10px;
        display: inline-block;
        padding-top: 0px;
        float:left;
    }
}




  